#!/usr/bin/env python
PACKAGE="riptide_controllers"

from dynamic_reconfigure.parameter_generator_catkin import *
gen = ParameterGenerator()

align = gen.add_group("align")

#         Name               Type      Level    Description             Default Min     Max
<<<<<<< HEAD
align.add( "align_x_force_p",    double_t, 1,     "P value for force in x",   2,     0,      100)
align.add( "align_y_force_p",      double_t, 1,   "P value for force in y",   2,     0,      100)
align.add( "align_y_force_p",    double_t, 1,     "P value for force in y",   2,     0,      100)
align.add( "align_max_force",      double_t, 1,    "Max force in Newton",     40,    0,      200)
=======
alignment.add( "alignment_x_force_p",    double_t, 1,     "P value for force in x",   .2,     0,      100)
alignment.add( "alignment_y_force_p",      double_t, 1,   "P value for force in y",   .2,     0,      100)
alignment.add( "alignment_depth_force_p",    double_t, 1, "P value for force in z",   .01,     0,      200)
alignment.add( "alignment_max_force",      double_t, 1,    "Max force in Newton",     40,    0,      200)
>>>>>>> 344b14c7a4d8eaa6e32f0cc0ef6bcca6031e2f1d
                 # PkgName #NodeName              #Prefix for generated .h include file, e.g. ParametersConfig.py
exit(gen.generate(PACKAGE, "alignment_controller", "AlignmentController"))